@model IEnumerable<RestaurangWebAPI.Models.BookingViewModel>

@{
    ViewData["Title"] = "Booking - Felix Restaurang";
}

<h1>Bookings List</h1>

<p>
    <a asp-controller="Booking" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers.CustomerName)
            </th>
            <th>
                Table Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeopleAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customers.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tables.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeopleAmount)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Booking", new { id = item.Id })" class="btn btn-secondary d-inline ">Edit</a>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                <a href="@Url.Action("Delete", "Booking", new { id = item.Id })" class="btn btn-warning d-inline ">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
